:root {
  --swiper-theme-color: #d89736;
}

.bg-clientes {
  background-image: url(/assets/capa-modelos.jpg);
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.bg-clientes h1 {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 18pt;
  padding-top: 120px;
  padding-left: 40px;
  padding-right: 40px;
}

.container-clientes {
  padding-left: 40px;
  padding-right: 40px;
  max-width: 925px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 30px;
  gap: 25px;
}

.avalicao {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #b0b0b082;
  width: 260px;
  height: 100%;
  padding: 30px;
  border-radius: 14px;
}

.avalicao img {
  margin-bottom: 25px;
}
.avalicao p {
  font-size: 12px;
  font-style: italic;
}

.agendamento {
  padding-left: 40px;
  padding-right: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.agendamento p {
  margin-top: 30px;
  font-size: 14px;
}

.btn-agendamento-clientes {
  margin-top: 40px;
  margin-bottom: 40px;
}

.btn-agendamento-clientes a {
  font-weight: 800;
  font-size: 12px;
}
#text-final {
  margin-top: 15px;
}

.swiper {
  width: 100%;
  height: 100%;
  padding: 50px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 280px;
}

.swiper-slide img {
  width: 200px;
  height: 300px;
  display: block;
  object-fit: cover;
  user-select: none;
}

@media (min-width: 768px) {
  .bg-clientes h1 {
    font-size: 24pt;
    padding-left: 120px;
  }

  .agendamento p {
    font-size: 16px;
  }
}
