.home-servicos {
  background-image: url(/assets/capa-serviços.jpg);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.bg-servicos h1 {
  padding-top: 90px;
  padding-left: 40px;
  padding-right: 40px;
  font-size: 16pt;
  font-weight: 400;
}

section {
  padding: 0px 30px 0px 30px;
}

.servicos-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.servicos-container h2 {
  font-size: 16pt;
  letter-spacing: 2px;
  font-weight: 700;
  margin-top: 50px;
  margin-bottom: 20px;
}

.servicos-container img {
  width: 24px;
}

#text-servicos {
  font-size: 10pt;
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 30px;
}

.servico-card {
  max-width: 380px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.servico-card p {
  font-size: 14px;
  font-weight: 400;
}

.container-infos {
  margin-top: 25px;
}

.servico-card h3 {
  font-size: 14pt;
  margin-bottom: 15px;
}

.container-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* =============== Chamada Clientes =============== */

.chamada-clientes {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chamada-clientes img {
  width: 270px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.chamada-clientes h3 {
  font-size: 14pt;
  font-weight: 600;
  margin-bottom: 20px;
}

.chamada-clientes p {
  font-size: 14px;
  font-weight: 400;
  max-width: 400px;
}

.texts-clientes-chamada {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#arrowdown {
  width: 45px;
}

.btn-clientes {
  margin-bottom: 30px;
  width: 240px;
}

.btn-clientes a {
  font-size: 10pt;
  font-weight: 700;
}

/* =============== Chamada Clientes =============== */

/* =============== Media Querry =============== */

@media (min-width: 768px) {
  section {
    padding-left: 70px;
    padding-right: 70px;
  }
  .bg-servicos h1 {
    font-size: 24pt;
    padding-left: 80px;
  }

  .servicos-container h2 {
    font-size: 24px;
  }

  #text-servicos {
    font-size: 16px;
  }
  .servicos-container img {
    width: 55px;
  }

  .arrow-line {
    display: none;
  }

  .container-cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px 70px;
  }

  .servico-card {
    margin-bottom: 0;
  }

  .chamada-clientes {
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    gap: 50px;
    justify-content: space-evenly;
  }

  .texts-clientes-chamada {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .arrow-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 70px;
  }

  .horizontal-line {
    width: 50vw;
    height: 2px;
    background-color: #f0e68c; /* Cor da linha */
    margin: 0; /* Remover margens para evitar espaçamento indesejado */
  }

  .arrow-left,
  .arrow-right {
    display: inline-block;
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
  }

  .arrow-left {
    border-right: 12px solid #f0e68c; /* Largura da seta esquerda */
    margin-right: -1px; /* Conexão perfeita com a linha */
  }

  .arrow-right {
    border-left: 12px solid #f0e68c; /* Largura da seta direita */
    margin-left: -1px; /* Conexão perfeita com a linha */
  }

  .chamada-clientes h3 {
    font-size: 20px;
  }

  .chamada-clientes p {
    max-width: 400px;
    font-size: 16px;
    text-align: center;
  }

  .chamada-clientes img {
    width: 340px;
  }
}
