:root {
  --carvao: #333333;
  --branco--gelo: #fff5f5;
  --prata: #b0b0b0;
  --dourado1: #feed9a;
  --dourado2: #fbc648;
  --dourado3: #f2a124;
  --dourado4: #d89736;
  --swiper-theme-color: #d89736;
}

@font-face {
  font-family: Onyx;
  src: url(/OPTIOnyx.otf);
}

body {
  background-color: #333333;
}

/* =============== Menu =============== */
#logo {
  font-size: 20pt;
  font-family: "Onyx";
  font-weight: 100;
}

#header {
  margin-left: 40px;
  margin-right: 40px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  z-index: 100000;
  background-color: var(--carvao);
}
#menu {
  display: flex;
  gap: 20px;
}
#menu a {
  display: block;
  padding: 0.5rem;
  color: var(--branco--gelo);
  font-size: 12pt;
}
#btn-mobile {
  display: none;
}

@media (max-width: 999px) {
  #menu {
    display: block;
    position: absolute;
    width: 40%;
    top: 80px;
    height: 0;
    right: 0;
    z-index: 1000;
    transition: 0.6s;
    visibility: hidden;
    overflow-y: hidden;
    background-color: var(--carvao);
  }
  #nav.active #menu {
    height: calc(100% - 80px);
    visibility: visible;
    transition: 0.6s;
  }
  #menu a {
    padding: 2rem 0;
    margin: 0 40px;
    border-bottom: 2px solid var(--black);
    font-size: 12px;
    text-align: center;
  }
  #btn-mobile {
    display: flex;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    background: none;
    width: 34px;
    height: 34px;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
  }
  #hamburguer {
    display: block;
    color: var(--white);
    width: 20px;
    border-top: 2px solid;
  }
  #hamburguer::after,
  #hamburguer::before {
    width: 20px;
    height: 2px;
    background-color: currentColor;
    content: "";
    display: block;
    margin-top: 5px;
    transition: 0.6s;
    position: relative;
  }
  #nav.active #hamburguer {
    border-top-color: transparent;
  }
  #nav.active #hamburguer::before {
    transform: rotate(135deg);
  }
  #nav.active #hamburguer::after {
    transform: rotate(-135deg);
    top: -7px;
  }
}

.line {
  display: flex;
  height: 2px;
  width: 100%;
  background-color: #282828;
  border-radius: 10px;
}

/* =============== Menu =============== */

/* =============== Home =============== */

.bg-home h1 {
  padding-top: 100px;
  padding-left: 40px;
  max-width: 600px;
  font-weight: 400;
  font-size: 18pt;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.bg-home {
  background-image: url(/assets/bg-desktop.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: calc(100vh - 80px);
  width: 100%;
}

.servico img {
  width: 24px;
  margin-right: 25px;
}

.servico {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 25px;
}

.btn a {
  font-size: 10pt;
  font-weight: 800;
}

.btn {
  width: 220px;
  height: 50px;
  background-color: var(--dourado3);
  border-radius: 12px;
  letter-spacing: 2px;
  cursor: pointer;
}

.btn-agende {
  margin-bottom: 40px;
  animation: btnAgendeAgr 2s ease-in-out 0s 1 normal none;
}

.servico-btn {
  margin-top: 25px;
}

.home-p2 {
  margin: 50px 30px 50px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-p2 h2 {
  margin-top: 40px;
  margin-bottom: 30px;
  font-size: 16pt;
  font-weight: 600;
  text-align: center;
}

#title-home2 {
  max-width: 670px;
  margin-bottom: 50px;
  text-transform: uppercase;
  font-weight: 400;
}

/* =============== Home =============== */

/* =============== Footer =============== */

footer {
  background-color: var(--dourado3);
  padding: 50px 30px 50px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.line-footer {
  margin-top: 30px;
  margin-bottom: 30px;
  width: 70vw;
  height: 4px;
  background-color: var(--carvao);
}

.btn-footer {
  width: 220px;
  height: 50px;
  background-color: var(--dourado1);
  display: flex;
  align-items: center;
  border-radius: 12px;
  justify-content: center;
  gap: 10px;
  margin-bottom: 30px;
}

.btn-footer a {
  color: var(--carvao);
  font-size: 12pt;
  font-weight: 500;
}

.btn-footer img {
  width: 20px;
}

.arrow-line {
  display: flex;
  align-items: center;
}

/* =============== Footer =============== */

/* =============== Linha Divisoria =============== */

.line {
  width: 50vw;
  height: 2px;
  background-color: var(--dourado1); /* Cor da linha (amarelo claro) */
  margin: 0;
}
.arrow {
  display: inline-block;
  width: 0;
  height: 0;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
}

.arrow.left {
  border-right: 12px solid var(--dourado1); /* Cor da seta (amarelo claro) */
  margin-right: -1px;
}

.arrow.right {
  border-left: 12px solid var(--dourado1); /* Cor da seta (amarelo claro) */
  margin-left: -1px;
}

/* =============== Linha Divisoria =============== */

@keyframes btnAgendeAgr {
  0% {
    animation-timing-function: ease-in;
    opacity: 1;
    transform: translateY(45px);
  }

  24% {
    opacity: 1;
  }

  40% {
    animation-timing-function: ease-in;
    transform: translateY(24px);
  }

  65% {
    animation-timing-function: ease-in;
    transform: translateY(12px);
  }

  82% {
    animation-timing-function: ease-in;
    transform: translateY(6px);
  }

  93% {
    animation-timing-function: ease-in;
    transform: translateY(4px);
  }

  25%,
  55%,
  75%,
  87% {
    animation-timing-function: ease-out;
    transform: translateY(0px);
  }

  100% {
    animation-timing-function: ease-out;
    opacity: 1;
    transform: translateY(0px);
  }
}

/* =============== Media Querry =============== */

@media (min-width: 768px) {
  .bg-home h1 {
    font-size: 24pt;
    padding-top: 150px;
    padding-left: 150px;
  }

  .home-p2 {
    margin-left: 70px;
    margin-right: 70px;
    margin-top: 70px;
    margin-bottom: 70px;
  }
  #title-home2 {
    font-size: 17.5px;
    line-height: 25px;
  }

  .btn-agende {
    margin-bottom: 50px;
  }
  .container-servicos-home {
    display: flex;
    flex-direction: row;
    gap: 70px;
  }

  .servico img {
    margin-right: 15px;
  }
  .container-btns-footer {
    display: flex;
    flex-direction: row;
    gap: 50px;
  }
}
