.bg-trabalhe {
  background-image: url(/assets/bg-contato-mobile.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.bg-trabalhe h1 {
  font-weight: 400;
  font-size: 18pt;
  padding-top: 100px;
  padding-left: 40px;
  padding-right: 40px;
  text-transform: uppercase;
}

.formulario {
  margin: 30px 40px 30px 40px;
}

#container-formulario {
  padding: 20px;
  max-width: 800px;
  height: 470px;
  background-color: #b0b0b085;
  border-radius: 12px;
  margin: auto;
}

#container-formulario form {
  display: flex;
  flex-direction: column;
}
#container-formulario form div label {
  font-size: 16px;
  font-weight: 400;
  margin-right: 20px;
}

#container-formulario input {
  height: 30px;
  border-radius: 5px;
  color: black;
  padding-left: 15px;
  border: none;
}

#container-formulario form div {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
#container-formulario form button {
  text-align: center;
  width: 150px;
  height: 40px;
  background-color: var(--dourado3);
  border-radius: 12px;
  font-size: 14px;
  font-weight: 600;
  margin: auto;
  cursor: pointer;
}

#tks {
  text-align: center;
}

@media (min-width: 768px) {
  .bg-trabalhe {
    background-image: url(/assets/bg-contato.jpg);
  }
  .formulario {
    margin: 70px;
  }

  #container-formulario form button {
    width: 280px;
    height: 50px;
    font-size: 18px;
  }

  .bg-trabalhe h1 {
    font-size: 24pt;
    max-width: 760px;
    font-weight: 400;
    letter-spacing: 3px;
    padding-left: 120px;
    padding-top: 150px;
  }
}
